<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>
<h2 th:text="'Edit Cheese' + ${cheese.nameOfCheese} + '(id=' + '${cheeseId}+)'"></h2>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/cheese/edit">
    Name: <input type="text" name="nameOfCheese" />
    Description: <input type="text" name="descriptionOfCheese" />
    <input type="submit" value="Edit Cheese" />
    <input type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
</form>

</body>
</html>