<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${cheeses} and ${cheeses.size()}"> no cheese :(</p>

<!--    <ul>-->
<!--    <li th:each="cheese : ${cheeses}" th:text="${cheese}"></li>-->

<!--        this is an example of an iterator-->
<!--    <li th:each="key: ${cheeses.keySet()}">-->
<!--        <span th:text="${key}"></span>'s description is: <span th:text="${cheeses.get(key)}"></span>-->
<!--    </li>-->
<!--    </ul>-->

    <table>
        <tr><td><b>Name</b></td><td><b>Description</b></td></tr>
<!--        this is an example of a for loop-->
    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.getNameOfCheese()}">Key</td>
        <td th:text="${cheese.getDescriptionOfCheese()}">Value</td>
    </tr>
    </table>

</body>
</html>